<template>
    <TestLayout :titre="'Add a memory'">
        <h1>Keep a Memory</h1>
        <h1>{{image}}</h1>
        <form @submit="submitForm">
            <ion-list>

                <ion-item>
                    <ion-label position="floating">Title</ion-label>
                    <ion-input v-model="titre" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-thumbnail slot="start">
                        <ion-img :src="image"></ion-img>
                    </ion-thumbnail>
                    <ion-button type="button" @click="takePhoto">
                        Take a photo
                    </ion-button>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea v-model="description" rows="5"></ion-textarea>
                </ion-item>

            </ion-list>
            <ion-button type="submit" shape="round" expand="block">Add my memory</ion-button>
        </form>
    </TestLayout>
</template>

<script>
import { IonList, IonItem, IonInput, IonLabel, IonTextarea, IonButton } from '@ionic/vue'
import TestLayout from '../component/TestLayout.vue'
import {memoryStore} from '@/stores/MemoryStore.js'

//https://capacitorjs.com/docs/apis/camera
//npm install @capacitor/camera
import { Camera, CameraResultType, CameraSource } from '@capacitor/camera';
//npm install @capacitor/filesystem
import { Filesystem,Directory } from '@capacitor/filesystem';

import {
  Capacitor,
} from '@capacitor/core';

export default {
    components: { IonList, TestLayout, IonItem, IonInput, IonLabel, IonTextarea, IonButton }
        ,setup(){
const store = memoryStore();
  
    return {memories:store};
    }
    , data() {
        return {
            titre: "",
            descrptition: "",
            image: "",
        }
    },
    methods: {
        async takePhoto() {

            const image = await Camera.getPhoto({
                quality: 70,
                resultType: CameraResultType.Uri,
                source: CameraSource.Camera
            });
            //Verirification
            const checkImg = await Filesystem.readFile({ path: image.path })
            if (checkImg) {
                //creation d'un nom de fichier unique
                let date = new Date(),
                    time = date.getTime(),
                    fileName = time + ".jpeg";

                //Enregistre l'image
                Filesystem.writeFile({
                    data: checkImg.data,
                    path: fileName,
                    //directory: FilesystemDirectory.Data
                    directory: Directory.Data
                })
                //Transformation du chemin en Uri
                const finalPhotoUri = await Filesystem.getUri({
                    //directory: FilesystemDirectory.Data,
                    directory: Directory.Data,
                    path: fileName
                });
                let photoPath = Capacitor.convertFileSrc(finalPhotoUri.uri);
                console.log(photoPath);

                this.image=photoPath;
            }
        },
        submitForm(e) {
            e.preventDefault()
            let memory={titre: this.titre, description: this.description, image: this.image};
         
            this.memories.addMemory(memory)
           this.$router.replace("/");
        }
    }
}

</script>

<style>
ion-item {
    margin: 10px 5px;

}
</style>