<template>
  <test-layout-vue :titre="'Souvenir'">
  <div id="souvenir" v-if="souvenirCourant">
     <ion-img :src="souvenirCourant.image"></ion-img>
    <h1>{{souvenirCourant.titre}}</h1>
    <p>
    <ion-text color="secondary">
       {{souvenirCourant.description}}
    </ion-text>
    </p>
    </div>
  </test-layout-vue>
</template>

<script>
import { IonText } from '@ionic/vue'
import TestLayoutVue from '../component/TestLayout.vue'
import {memoryStore} from '@/stores/MemoryStore.js'
export default {
       setup(){
    const store = memoryStore();
  
    return {memories:store};
  },
  components: { TestLayoutVue,IonText },
 data(){
  return{
  memoryId:null
  }},
    watch:{
    //Observe les changement quand id est modifier dans l'url
    '$route.params.id':{
     handler: function(id) {
     this.memoryId=id
    },
    deep: true,
    immediate: true
    }
  },
  computed:{
    //Fait appelle au store pour recuperer le souvenir en fonction memoryId (cad l'id dans l'url)
    souvenirCourant(){
      console.log(this.memoryId)
      return this.memories.memory(this.memoryId) ?? false 
    }
  }

}
</script>

<style>
#souvenir{
  margin: 5px 10px;
}
</style>