<template>
<test-layout-vue :titre="'Sweet sweet memories'">
          <h1>Titre page</h1>
            <ion-list>
                <ion-item v-for="memory in memories" v-bind:key="memory.id" :router-link="`/memories/${memory.id}`">
                    <ion-thumbnail slot="start">
                <ion-img :src="`${memory.image}`"></ion-img>
                </ion-thumbnail>
                <ion-label>{{memory.titre}}</ion-label>
                </ion-item>
            
            </ion-list>
 </test-layout-vue>
</template>

<script>

import {IonList,IonItem} from '@ionic/vue';
import TestLayoutVue from '../component/TestLayout.vue';
import {memoryStore} from '@/stores/MemoryStore.js'
export default {
    setup(){
const store = memoryStore();
  
    return {memories:store.memories};
    },
    components:{
        TestLayoutVue,
        IonList,
        IonItem,
    },
  

}
</script>

<style>
ion-item{
    --color:var(--ion-color-secondary);
}
</style>