<template>
  <ion-page>

      <ion-header>
        <ion-toolbar>
          <!-- Permet de placer des boutons sur la toolbar -->
          <ion-buttons slot='start'>
            <!-- Revenir a la page precedente -->
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>{{ titre }}</ion-title>
          <ion-buttons slot="end">
            <ion-button router-link="/memories/add">+</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
    <ion-content>
      <slot />
    </ion-content>
  </ion-page>
</template>

<script>
import {IonButton, IonPage, IonHeader, IonToolbar, IonContent, IonTitle, IonButtons, IonBackButton } from '@ionic/vue'
export default {
  props: ["titre"],
  components: {
    IonButton,
    IonPage,
    IonHeader,
    IonContent,
    IonToolbar,
    IonTitle,
    IonBackButton,
    IonButtons,
  
  }
}
</script>

<style>
</style>